<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
  <div class="center">
    <h1>
      
      </h1>
   </div>
  <div class="heading">
    <h1><u>टोली बना </u></h1>
  </div>
    <div id="form">
        <!-- login and signup form  -->
        <ul class="tabs">
          <li id="tab1" class="tab"><a href="/login" class="activate">Log In</a></li>
          <li id="tab2" class="tab"><a href="/register">Join Now</a></li>
        </ul>
        <!-- .tabs (login and signup) -->
        <div id="tab_content">
          <div id="login" class="">
            
          </div>
          <!-- #login  -->
          <div id="signup" class="">
            
          </div>
          <!-- #signup  -->
        </div>
        <!-- #tab_content	 -->
      </div>
</body>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<script src="kl.js"></script>

</html>